<!DOCTYPE html>
{% extends 'product/base.html' %}
<html lang="en">

{% block body %}
<body class="body-class">

<!-- Body content start  -->
<!-- Change password section start  -->
<section class="change-password my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12">
                <h2>Change your password</h2>
                
                <label>Current Password</label>

                   <label>New Password</label>
                <form method="POST" action="{% url 'account:resetpassword' %}">
                    {% csrf_token%}

                    <div class="form-group pass_show">
                        <input name="password" type="password" value="wahed.nur@123" class="form-control" placeholder="New Password">
                    </div>
                    <label>Confirm Password</label>
                    <div class="form-group pass_show">
                        <input name="confirm_password" type="password" value="wahed.nur@123" class="form-control" placeholder="Confirm Password">
                    </div>
                    <button type="submit" class="change-password">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Change password section end  -->
<!-- Body content end  -->
    <script>
        $(document).ready(function(){
            $('.pass_show').append('<span class="ptxt">Show</span>');  
            });
            

            $(document).on('click','.pass_show .ptxt', function(){ 

            $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 

            $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 

            }); 
    </script>


    <!-- body bottom javascript end  -->
</body>
{% endblock %}

</html>