{% extends 'base.html' %}

{% block  body %}
<section class="forgot">
    <div class="container vh">
        <div class="row">
        <p>Lost your password? Please enter your username or email address. You will receive a link to create a new password via email.</p>
        <div class="col-md-6">
        <div class="form-group">
            <form action="{% url 'account:forgotpass' %}" method="POST">
                {% csrf_token  %}

                <label for="username-email">Username or email</label>
                <input name="email" type="username-email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <button class="btn reset-btn mt-4" type="submit"> Reset password</button>
            </form>
        </div>
    </div>
    <div class="col-md-6">
       <div class="rel">

       </div>
    </div>
    </div>
    </div>
</section>
{% endblock  %}
<!-- Lost Password section end  -->
<!-- Body content end  -->


</body>

</html>