{% extends "base.html" %}

{% block body %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="login">
<input type="hidden" name="next" value="{{ next }}">
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>






    <!-- Login register page content start  -->
    <section class="login-regi-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <!-- Loging section area start -->
                    <h2>Login</h2>


<form  class="logi-regi-form" method="POST" action="{% url 'login' %}">
           {% csrf_token %}
    <div class="form-group">
        <label for="username">Username or email address <span class="requre text-danger">*</span></label>
        {{ form.username }}
        <div  class="form-control" > {{ form.username }}</div>

    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password <span class="requre text-danger">*</span></label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1">
                            <label class="form-check-label" for="remeber">Remember me</label>
                        </div>
                        <button type="submit" class="btn log-regi-btn">Log in</button>
                    </form>
                    <a class="login-link" href="#">Lost your password? </a>
                    <!-- Loging section area end -->
                </div>
                <div class="col-lg-6 co-12">
                    <!-- Register section area start -->
                    <h2>Register</h2>
                    <form class="logi-regi-form">
                        <div class="form-group">
                            <label for="username">Email address <span class="requre text-danger">*</span></label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                        </div>

                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1">
                            <label class="form-check-label" for="remeber">I've read and accept the <a href="#">Terms and Condition</a><span class="requre text-danger">*</span></label>
                        </div>
                        <button type="submit" class="btn log-regi-btn my-4">Register</button>
                    </form>
                    <a class="login-link" href="#">Beacume a vendor </a>
                    <!-- Register section area end -->
                </div>

            </div>
        </div>
    </section>
    <!-- Login register page content end  -->

{% endblock %}
