{% load static %}
 <!-- Items list start start  -->
            <div class="cart-info-img">
                <a href="#"><img class="img-fluid" src="{% static 'images/woo.jpeg' %} " alt="product-title"></a>
            </div>
            <div class="cart-info-content">
                <a class="product-title" href="#">مبخر خشبي (غلايا</a>
                <dl>
                    <dt class="sold-by">Sold By:</dt>
                    <dd class="shop-name">
                        Wahed Nur
                    </dd>
                </dl>
                <span class="qty-price">1 x <span class="price">
                        <bdi>
                            8000.00
                        </bdi> SR
                    </span></span>
            </div>
            <div class="cart-info-item-remove">
                <a href="#"><i class="fas fa-times"></i></a>
            </div>
        </div> <!-- Items list start end  -->
