<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreativeHands | All your handmade shops</title>
    <!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/png" sizes="16x16">
    <!--    All css links start-->
    <!--   Animate css-->
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <!--    AOS scrolling css -->
    <link rel="stylesheet" href="{% static 'css/aos2.3.4.css' %}">
    <!--    Icons css -->
    <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
    <link rel="stylesheet" href="{% static 'css/elementor-icons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <!--    carousel css -->
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.min.css' %}">

    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <!--    Bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %} ">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.rtl.min.css"> -->


    <!--    primary css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <!--    All css links end-->
</head>
{% block body %}

{% endblock %}

    <!-- Footer Section start  -->
    <footer>
            <section class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="footer-grid">
                            <div class="footer-col">
                                <h4 class="footer-title">
                                    Get Started
                                </h4>
                                <div class="footer-menu">
                                    <a href="index.html">Home</a>
                                    <a href="#">Categories</a>
                                    <a href="#">Sign Up</a>
                                </div>
                            </div>
                            <div class="footer-col">
                                <h4 class="footer-title">
                                    Shop
                                </h4>
                                <div class="footer-menu">
                                    <a href="#">Art</a>
                                    <a href="#">Visual</a>
                                    <a href="#">By Vendor</a>
                                </div>
                            </div>
                            <div class="footer-col">
                                <h4 class="footer-title">
                                    Legal
                                </h4>
                                <div class="footer-menu">
                                    <a href="#">Privacy</a>
                                    <a href="#">Terms & conditions</a>

                                </div>
                            </div>
                            <div class="footer-col">
                                <h4 class="footer-title">
                                    Social
                                </h4>
                                <div class="footer-menu social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-whatsapp "></i></a>
                                    <a href="#"><i class="fab  fa-instagram "></i></a>

                                </div>
                            </div>
                            <div class="footer-col">
                                <h4 class="footer-title">
                                    More
                                </h4>
                                <div class="footer-menu">
                                    <a href="#">About us</a>
                                    <a href="#">Contact Us</a>
                                    <a href="#">Vendor</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-4">
                    <div class="col-12">
                        <div class="copyright">
                            <p class="footer-copyright">Copyright &copy; 2021 CreativeHands | Developed by <a
                                    href="https://wahednur.com">WS</a> </p>
                        </div>
                    </div>
                </div>
                </div>
            </section>
    </footer>
    <!-- Footer Section end  -->

<!-- body bottom javascript start  -->
<script  type="text/javascript"  src=" {% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/slick.js' %}"></script>
<script type="text/javascript" src="{% static 'js/fontawesome.js' %}"></script>
<script type="text/javascript" src="{% static 'js/aos2.3.4.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


<!-- body bottom javascript end  -->
</html>